# Since Ansible 2.12 (core):
# To generate an example config file (a "disabled" one with all default settings, commented out):
#               $ ansible-config init --disabled > ansible.cfg
#
# Also you can now have a more complete file by including existing plugins:
# ansible-config init --disabled -t all > ansible.cfg

# For previous versions of Ansible you can check for examples in the 'stable' branches of each version
# Note that this file was always incomplete  and lagging changes to configuration settings

# for example, for 2.9: https://github.com/ansible/ansible/blob/stable-2.9/examples/ansible.cfg
#
[defaults]
ansible_become = true
ansible_become_method = runas
ansible_become_user = ansible\administrator
ansible_become_password = @ns!bl3T3st
ansible_inventory = /etc/ansible/hosts
ansible_connection = ssh
ansible_ssh_auth = ntlm
ansible_ssh_port = 5986
ansible_winrm_server_cert_validation = ignore
ansible_python_interpreter = /usr/bin/python3
